/* FONTS -----------------------------------------
font-family: 'Cabin', sans-serif;
font-family: 'Rokkitt', serif;
------------------------------------------------*/
:root {
	--db: #2d4059;
	--lb: #4a96d9;
	--or: #f2a03d;
	--rd: #f23005;
	--wt: #f2f2f2;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	height: 100vh;
}

body {
	background-image: url(../img/spencer-davis-0ShTs8iPY28-unsplash.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	font-family: 'Rokkitt', serif;
	background-color: none;
	height: 100vh;
	/* width: 100vw; */
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-family: 'Cabin', sans-serif;
	text-align: center;
	letter-spacing: 1px;
	color: var(--wt);
}

a,
a:hover,
a:active,
a:visited {
	text-decoration: none;
	color: inherit;
	letter-spacing: 1px;
}

.button {
	min-width: 15rem;
	max-width: 30rem;
	width: 20rem !important;
	display: block;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 1rem !important;
	padding: 1rem;
}

/* ALL HTML -----------------------------------*/
nav {
	background: linear-gradient(45deg, var(--lb) 0%, var(--db) 75%);
	color: var(--wt);
	padding: 3rem !important;
	align-items: center !important;
	border-bottom: 5px solid var(--or);
}

nav h1 {
	font-size: 5rem;
}

nav .button {
	text-align: center;
	align-self: center;
	background-color: var(--or) !important;
	color: var(--db) !important;
	border-radius: 1rem;
	box-shadow: 0 0 4px 2px var(--db), 0 0 12px 4px var(--or) !important;
}

nav .button:hover {
	background-color: var(--db) !important;
	color: var(--wt) !important;
	box-shadow: 0 0 12px 4px var(--wt) !important;
	transition: ease-in-out 0.5s !important;
}

/* ALL HTML -----------------------------------*/
.tracker-box {
	width: 70%;
	margin: 10rem auto 3rem;
	padding: 2rem 0;
	border-radius: 1rem;
}

.h2-box {
	width: 100%;
	margin-bottom: 2rem;
}

.box-line {
	background-color: var(--or);
	height: 5px;
	border-radius: 1rem;
}

.h2-box h2 {
	font-size: 3rem;
	background-color: rgba(242, 160, 60, 0.5);
	color: var(--wt);
	width: 95%;
	margin: 0 auto;
	padding: 1rem;
}

.workout,
.exercise {
	background-color: rgba(242, 242, 242, 0.75);
	width: 95%;
	margin: 0 auto;
	padding: 2rem;
}

.workout h3,
.exercise h3 {
	font-size: 2.5rem !important;
	color: var(--db);
}

.workout-stats {
	font-family: 'Rokkitt', serif;
	font-size: 2rem;
	margin: 2rem 0;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons .button {
	text-align: center;
	align-self: center;
	background-color: var(--or) !important;
	color: var(--db) !important;
	margin: 2rem 2rem 0;
	border-radius: 1rem;
	box-shadow: 0 0 4px 2px var(--wt), 0 0 12px 4px var(--db) !important;
}

.buttons .button:hover {
	background-color: var(--wt) !important;
	color: var(--db) !important;
	box-shadow: 0 0 12px 4px var(--db) !important;
	transition: ease-in-out 0.5s !important;
}

select {
	font-family: 'Rokkitt', serif;
	display: block;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	font-size: 1.75rem;
	border-radius: 1rem;
	width: 100%;
	padding: 1rem;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;
}

select::-ms-expand {
	display: none;
}

select:hover {
	border-color: #888;
}

select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

select option {
	font-weight: normal;
	width: 100%;
}

input {
	font-size: 1.5rem;
	background-color: var(--wt);
	width: 100%;
	padding: 1rem;
	display: block;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 1rem;
}

form .workout-type,
form .cardio-form div,
form .resistance-form div {
	display: flex;
	margin-top: 2rem;
}

form > button {
	float: right;
	margin-top: 20px;
}

form::after {
	content: ' ';
	display: block;
	clear: both;
}

.d-none {
	display: none !important;
}

#toast {
	border-radius: 4px;
	border-width: 1px;
	font-size: 13px;
	line-height: 19.5px;
	margin: 0px 0px 16px;
	padding: 12px 59.5px 12px 20px;
	text-align: left;
	width: 300px;
	min-height: 80px;
	position: fixed;
	top: 10px;
	right: -320px;
	opacity: 0;
	transition: all 0.5s;
}

#toast.success {
	opacity: 1;
	right: 10px;
	background-color: hsl(94, 40%, 86%);
	color: hsl(94, 90%, 16%);
	transition: all 1.2s;
}

.workout-type,
form .cardio-form div,
form .resistance-form div {
	display: flex;
	margin-top: 30px;
}

form label {
	font-size: 1.75rem;
	width: 150px;
	margin-top: 0.7rem;
	margin-right: 1rem;
}

form > button {
	float: right;
	margin-top: 20px;
}

form::after {
	content: ' ';
	display: block;
	clear: both;
}

.d-none {
	display: none;
}

#toast {
	border-radius: 4px;
	border-width: 1px;
	font-size: 13px;
	line-height: 19.5px;
	margin: 0px 0px 16px;
	padding: 12px 59.5px 12px 20px;
	text-align: left;
	width: 300px;
	min-height: 80px;
	position: fixed;
	top: 10px;
	right: -320px;
	opacity: 0;
	transition: all 0.5s;
}

#toast.success {
	right: 10px;
	background-color: hsl(94, 40%, 86%);
	color: hsl(94, 90%, 16%);
	transition: all 0.5s;
}

.workout-type,
form .cardio-form div,
form .resistance-form div {
	display: flex;
	margin-top: 30px;
}

form > button {
	float: right;
	margin-top: 20px;
}

form::after {
	content: ' ';
	display: block;
	clear: both;
}

.d-none {
	display: none;
}

#toast {
	border-radius: 4px;
	border-width: 1px;
	font-size: 13px;
	line-height: 19.5px;
	margin: 0px 0px 16px;
	padding: 12px 59.5px 12px 20px;
	text-align: left;
	width: 300px;
	min-height: 80px;
	position: fixed;
	top: 10px;
	right: -320px;
}

#toast.success {
	background-color: hsl(94, 40%, 86%);
	color: hsl(94, 90%, 16%);
	animation-name: toast;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
	animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.d-none {
	display: none;
}

#toast {
	border-radius: 4px;
	border-width: 1px;
	font-size: 13px;
	line-height: 19.5px;
	margin: 0px 0px 16px;
	padding: 12px 59.5px 12px 20px;
	text-align: left;
	width: 300px;
	min-height: 80px;
	position: fixed;
	top: 10px;
	right: -320px;
	opacity: 0;
}

.d-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.col {
	flex: 1;
}

#toast.success {
	background-color: hsl(94, 40%, 86%);
	color: hsl(94, 90%, 16%);
}

.prev-workout h3 {
	font-size: 2rem;
	width: 100%;
}

.prev-workout p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.new-workout {
	display: none;
}

.mt {
	margin-top: 20px;
}

.prev-workout {
	text-align: center;
}

.ui.card h2 {
	padding: 10px;
}

.workout-type,
.cardio-form,
.resistance-form {
	padding: 10px;
}

@keyframes toast {
	50% {
		opacity: 1;
		right: 10px;
	}
	100% {
		opacity: 0;
		right: -320px;
	}
}

/* STATS HTML -----------------------------------*/
.stats-box {
	background-color: rgba(242, 242, 242, 0.75);
	margin-top: 5rem;
	padding: 2rem;
	border-radius: 1rem;
}

.stats-box h3 {
	font-size: 2.5rem !important;
	color: var(--db);
}

/* MEDIA QUERY ----------------------------------*/
@media (max-width: 600px) {
	body {
		background-position: center 100px;
	}

	h1 {
		font-size: 4.5rem !important;
	}

	nav .button {
		width: 300px !important ;
		font-size: 1.5rem !important;
	}

	nav .button:nth-child(even) {
		margin-bottom: 2rem !important;
	}

	.tracker-box {
		width: 95%;
	}

	.workout .resp-button {
		flex-wrap: wrap !important;
		max-width: 12rem !important;
		width: 10rem !important;
		padding: 1rem !important;
	}
}

/* COLORS -------------------------------------*/
/* Color Theme Swatches in Hex */
.Eternity-Legends-Character-Overview-1-hex {
	color: #4a96d9;
}
.Graphic-Design-2-hex {
	color: #2d4059;
}
.Graphic-Design-3-hex {
	color: #f2a03d;
}
.Graphic-Design-4-hex {
	color: #f23005;
}
.Graphic-Design-5-hex {
	color: #f2f2f2;
}

/* Color Theme Swatches in RGBA */
.Eternity-Legends-Character-Overview-1-rgba {
	color: rgba(73, 149, 216, 1);
}
.Graphic-Design-2-rgba {
	color: rgba(44, 63, 89, 1);
}
.Graphic-Design-3-rgba {
	color: rgba(242, 160, 60, 1);
}
.Graphic-Design-4-rgba {
	color: rgba(242, 48, 4, 1);
}
.Graphic-Design-5-rgba {
	color: rgba(242, 242, 242, 1);
}
